{{ define "main" }}
  <div class="posts" style="width: 40rem;">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" $contentTypeName) }}

    <p style="width: 100%; text-align: left; ">hi. I'm jon.</p>
    <p style="width: 100%; text-align: left; ">I like to build things with computers. and write words on the internet. and see beautiful things in this life.</p>
    <p style="width: 100%; text-align: left; ">this is a journal of my adventures.</p>
    
    <h3 style="width: 100%; text-align: left; padding-top: 1rem; "> recent</h3>

    <!-- a list of the 6 recent posts with .Type name -->

    {{ range sort .Data.Pages "Date" "desc" | first 6 }}
        <span style="width: 100%; text-align: left; padding-top: 1rem; flex: 1; flex-direction: column;">
          <div style="flex: 1">

          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </span>
          
          <span>
            {{ $title := substr .Params.Date 0 10 }}
          </span>
          <span style="color:gray">{{ $title }}</span>

            </div>
    {{ end }}
    <a href="/posts">more posts</a>

    <span style="width: 100%; text-align: left; ">


{{ end }}
